.checkout-item {
  width: 100%;
  display: flex;
  min-height: 100px;
  border-bottom: 1px solid darkgrey;
  padding: 15px 20px;
  font-size: 20px;
  align-items: center;
  text-align: center;

  .image-container {
    width: 23%;

    img {
      width: 70%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
  }

  .quantity {
    display: flex;
    justify-content: center;

    .arrow {
      cursor: pointer;
    }
    .value {
      margin: 0 10px;
    }
  }

  .remove-button {
    padding-left: 35px;
    cursor: pointer;
  }
}
